.x-grouping-panel-ct{
    background-color:darkgray
}
.x-grouping-panel-text{
    color:white;padding:7px
}
.x-group-column{
    background-image:none!important;background-color:transparent!important
}
.x-group-column .x-column-header-sort-ASC,
.x-group-column .x-column-header-sort-DESC{
    background-color:transparent!important
}
.x-group-column-inner{
    padding:3px;height:21px;border:1px solid black;margin:2px;
    background-color:#f5f5f5;font:normal 11px/13px tahoma,arial,verdana,sans-serif;
    background-image:-webkit-linear-gradient(top,#f9f9f9,#e3e4e6);
    background-image:-moz-linear-gradient(top,#f9f9f9,#e3e4e6);
    background-image:-o-linear-gradient(top,#f9f9f9,#e3e4e6);
    background-image:linear-gradient(top,#f9f9f9,#e3e4e6)
}
.x-group-column-line{
    border-left:1px solid black;border-bottom:1px solid black;position:relative;
    left:-25px;top:-11px;height:7px;width:22px
}
.x-group-column-text{
    cursor:pointer
}
.x-group-by-panel-icon{
    background-image:url(images/groupbypanel.png)
}
.x-clear-icon{
    background-image:url(images/clear.png)
}
.x-grid-col-remove-icon .x-dd-drop-icon {
    background-image:url(images/delete.png)
}
